@model UserData

<h1>User info of @Model.Id</h1>
<p>User Email : @Model.Email</p>
<h2>User Responses : </h2>
@{
    for (int i = 0; i < Model.Responses.Count;i++)
    {
        <p>@Model.Responses[i].ResponseGiven</p>
    }
    
}
<h2>User Affinities : </h2>